<div>
    <h1>{{mensaje}}</h1>
    <input type="text" placeholder="{{otroDato}}">
    <p>Este es un párrafo de ejemplo</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>